.container {
  border: 1px solid black;
  width: 50%;
  max-width: 100%;
}

.allContainer {
  display: flex;
  justify-content: center;
  margin-top: 3rem;
  width: 100%;
}

.userImage {
  width: 3rem;
  height: 3rem;
  border-radius: 50%;
}

.editButton {
  width: 100%;
  background-color: black;
  color: white;
}

.inputElement {
  width: 100%;
  height: 100%;
}

.rowClass {
  margin-bottom: 1rem;
  margin-top: 2rem;
}

.eventContainer {
  margin-top: 5%;
}

.eventCard {
  width: 90%;
  margin-top: 3rem;
  margin-right: 1rem;
}

.eventInfo {
  font-weight: 500;
  font-size: 1.1rem;
  user-select: none;
}

.eventImage {
  width: 10rem;
  height: 10rem;
}

.loader {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
}

.eventCard {
  transition: 0.6s;
}

.eventCard:hover {
  box-shadow: rgba(0, 0, 0, 0.568) 0px 54px 55px, rgba(0, 0, 0, 0.568) 0px -12px 30px, rgba(0, 0, 0, 0.568) 0px 4px 6px,
    rgba(0, 0, 0, 0.568) 0px 12px 13px, rgba(0, 0, 0, 0.568) 0px -3px 5px;
  transform: scale(1.05);
}

.bookmarkPosition {
  position: absolute;
  top: 10px;
  right: 15px;
}

.error {
  color: red;
  margin: 0;
  font-weight: 500  ;
  font-size: 1.1rem;  
}

.inputError {
  border: 1px solid red !important;
  background-color: #faf6f6; 
}


.imageElement {
  width: 100%;
  height: 20rem;
  max-width: 100%;
  object-fit: cover;
  cursor: pointer;
}

.lightText {
  color: white;
}

.alertText {
  color: rgba(255, 0, 0, 0.918);
  font-weight: 500;
  font-size: 1.6rem;
}

.ticketTable {
  width: 100%;
  border-collapse: collapse;
  margin: 20px 0;
}

.ticketTable th, .ticketTable td {
  border: 1px solid #ddd;
  padding: 8px;
  text-align: left;

}

.ticketTable th {
  background-color: #f2f2f2;
}

.rowClass input {
  width: 100%;
  padding: 8px;
  margin-bottom: 10px;
}

.ticketsButton {
  width: 100%;
  margin-right: 0.5rem;
  margin-left: 0.5;
}

.createButton, .createButton:active, .createButton:focus{
  background-color: black;
}

.submitButton {
  background-color: black;
  outline: white;
  border: none;
}

.cancelButton {
  background-color: black;
  border: none;
}


@media (max-width: 768px) {
  .container {
    width: 100%; /* Full width on smaller screens */
  }

  .rowClass input, 
  .rowClass select, 
  .ticketsButton {
    width: 100%;
  }

  .ticketsButton {
    margin-bottom: 10px; /* Add space between buttons */
  }
}

@media (max-width: 576px) {
  .ticketTable th, .ticketTable td {
    padding: 4px; /* Reduce padding on smaller screens */
  }

  .ticketTable {
    font-size: 0.8rem; /* Reduce font size on smaller screens */
  }
}