.eventCard {
    width: 90%;
    margin-top: 3rem;
    margin-right: 1rem;
}

.eventsContainer {
    margin-right: 2rem;
}

.createEventButton {
    display: flex;
    justify-content: flex-end;
    align-items:flex-end;
    height: 100vh;
}

.plusIcon {
    font-size: 10rem;
    transition: ease 0.5s;
}

.plusIcon:hover {
    color: rgba(0, 0, 0, 0.556)
}

.eventInfo {
    font-weight: 500;
    font-size: 1.1rem;
}

.title {
    font-size: 1.9rem;
    font-weight: 600;
}