
.container {
  height: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  margin-top: 3rem;
}

.backgroundContainer {
  background-color: rgba(39, 38, 38, 0.644);
  padding: 2rem;
  border-radius: 10px;
}

.imageContainer {
  margin: 1rem 0;
  height: 8rem;
  border: 1px solid white;
  display: flex;
  justify-content: center;
  align-items: center;
  border-radius: 10px;  
}

.text{ 
  font-size: 1.1rem;
  margin: 0;
  font-weight: 500;
}

.inputElementBox {
  background-color: transparent;
}

.imagePreview {
  max-height: 100%;
  max-width: 100%;
}

.inputElements {
  width: 100%;
  margin-bottom: 1rem;
  background-color: transparent;
  border: 0;
  font-size: 1.1rem;
  padding: 1rem;
  transition: 0.5s ease;
  color: white;
  border-bottom: 2px solid white;
}

.inputElements:focus {
  outline: 0;
  color: white;
  transform: scale(1.05);
  font-weight: 500;
}

.inputElements::placeholder {
  color: white;
  transition: 0.5s ease ;
}

.title {
  font-weight: 600;
  color: white;
  margin-bottom: 2rem;
  text-align: center;
}

.imageText {
  text-align: center;
  font-size: 2.1rem;
  color: white;
  user-select: none;
}

.hiddenElement {
  display: none;
}

.imageInputField {
  text-align: center;
  color: white;
  cursor: pointer;
  font-size: 2rem;
  width: 100%;
  margin-bottom: 1rem;
}

.inputError {
  border-bottom: solid 2px red;
}

.navbarItem, .navbarItem:hover {
  color: white;
  text-decoration: none;
}
