.formPosition {
  display: flex;
  flex-direction: column;
  margin-left: auto;
}

.formsContainer {
  background-color: var(--dark-black);
  padding: 1.1rem;
  border-radius: 3%;
}

.formGroup {
  display: flex;
  margin-bottom: 15px;
  margin-left: 10px;
  justify-content: flex-end;
}

.inputElements {
  width: 100%;
  text-indent: 2px;
  text-align: left;
  background-color: transparent;
  border: 0px;
  border-bottom: 2px #fff solid;
  padding: 1rem 0;
  font-size: 1.1rem;
  color: #fff;
}

input:focus {
  outline: 0;
  border-bottom-color: lightblue;
}

.text {
  color: rgba(250, 250, 250, 0.708);
}

.buttonRegister:hover {
  background-color: rgb(67, 35, 211);
}

.loader {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
}

.minimisedLogo {
  width: 2rem;
  height: 2rem;
}

.logoContainer {
  margin-right: 1rem;
}

.switch {
  cursor: pointer;
}

.flexedElements {
  display: flex;
  justify-content: space-around;
}
