.container {
  border: 1px solid black;
  background-color: rgba(49, 48, 48, 0.508);
}

.allContainer {
  display: flex;
  justify-content: center;
  margin-top: 3rem;
}

.userImage {
  width: 3rem;
  height: 3rem;
  border-radius: 50%;
}

.hiddenElement {
  display: none;
}

.editButton {
  width: 100%;
  background-color: black;
  color: white;
}

.inputElement {
  width: 100%;
  height: 100%;
}

.rowClass {
  margin-bottom: 1rem;
  margin-top: 2rem;
}

.eventContainer {
  margin-top: 5%;
}

.header {
  color: white;
}

td {
  color: white;
  background-color: rgb(58, 57, 57);
}

th {
  background-color: rgb(34, 34, 34);
}

.eventCard {
  background-color: rgb(0, 0, 0);
  backdrop-filter: blur(10px);
  /* border: 1px solid rgba(255, 255, 255, 0.2); */
  color: white;
  transition: 0.25s;
  margin-top: 1rem;
  padding-bottom: 1rem;
  overflow: hidden;
}

.eventInfo {
  background-color: transparent;
  border: none;
  color: #d0d0d0;
  font-size: 1rem;
  padding-block: 0;
}
/* 
.eventCTA {
  display: block;
  margin: auto;
} */

.infoRow {
  padding-bottom: 0.8rem;
}

.dateLocationBlock {
  padding-top: 0.6rem;
}

.dateLocationBlock div {
  font-weight: 400;
}

.columnClass {
  width: 90vw;
  overflow: hidden;
}

.attendingEvent {
  padding-bottom: 0.7rem;
}

.attendingEvent div {
  font-size: 1.8rem;
  font-weight: 700;
}

.attendingEvent span {
  font-size: 0.8rem;
  font-weight: 400;
}

.eventOrganiser {
  font-size: 0.9rem;
}

.eventImage {
  width: 10rem;
  height: 10rem;
}

.loader {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
}

.eventCard {
  transition: all ease 0.25s;
  margin-bottom: 10%;
  cursor: pointer;
  border: none;
}

.eventCard:hover {
  /* box-shadow: rgba(0, 0, 0, 0.568) 0px 54px 55px, rgba(0, 0, 0, 0.568) 0px -12px 30px, rgba(0, 0, 0, 0.568) 0px 4px 6px,
    rgba(0, 0, 0, 0.568) 0px 12px 13px, rgba(0, 0, 0, 0.568) 0px -3px 5px; */
  /* transform: scale(1.01); */
}

.eventCard:hover .imageElement {
  transform: scale(1.025);
}

.bookmarkPosition {
  position: absolute;
  top: 10px;
  right: 15px;
}

.imageElement {
  /* width: 100%;
  height: 20rem;
  max-width: 100%;
  object-fit: cover;
  cursor: pointer; */
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  object-fit: cover;
  transform: scale(1);
  transition: transform ease 0.25s;
}

/* .ticketTable {
  word-break: break-all;
  width: 100%;
  border-collapse: collapse;
  margin: 20px 0;
} */

.ticketTable th,
.ticketTable td {
  border: 1px solid #ddd;
  padding: 8px;
  text-align: left;
  min-width: 5rem;
}

.ticketTable th {
  background-color: #f2f2f2;
}

.cardImgWrapper {
  position: relative;
  overflow: hidden;
  aspect-ratio: 16/14;
  max-height: 250px;
}

.eventType {
  padding-top: 0;
  font-size: 0.75em;
  color: rgb(190, 190, 190);
  text-transform: uppercase;
}

@media (width < 770px) {
  .editContainer {
    margin-top: 1rem;
  }
  .ticketTable th,
  .ticketTable td {
    font-size: 0.8rem;
  }
  .refundTicket {
    font-size: 0.8rem;
    padding: 5px;
  }
}
