.componentContainer {
  margin: 0;
  padding: 0;
  display: flex;
  align-items: center;
  height: 100vh;
  overflow: hidden;
  box-sizing: border-box;
}


.componentContainer_centered {
  display: flex;
  justify-content: center;
  align-items: center;
}

.componentHeader {
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
  margin-right: 30%;
}

.rowProperties {
  height: 100%;
  width: 100%;
}

.rightSide {
  background-image: url("../../../public/event-login.png.jpg");
  background-size: cover;
  background-repeat: no-repeat;
}

.logoContainer {
  display: flex;
}


.firstColumn {
  background-color: rgb(32, 31, 31);
  padding: 10px;
}

.formBackground {
  background-color: rgba(32, 31, 31, 0.938);
  border-radius: 10px;
}

.formContainer {
  padding: 10%;
}


.resetPassword {
  width: 100%;

}

.title,
.subTitle {
  color: white;
}

.inputElements {
  width: 100%;
  border-radius: 5px;
  margin-bottom: 1rem;
  text-indent: 2px;
  text-align: left;
  background-color: transparent;
  border: 0px;
  border-bottom: 2px #fff solid;
  padding: 1rem 0;
  font-size: 1.1rem;
  color: #fff;
  transition: ease 1s;
}

input:focus {
  outline: 0;
  border-bottom-color: rgb(231, 198, 31);
}

.minimisedLogo {
    width: 2rem;
    height: 2rem;
}

.logoContainer {
    margin-right: 1rem;
}

.flexedElements {
    display: flex;
}

.text {
    color: rgba(255, 255, 255, 0.708);
}
